@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Barcode+128+Text|Monoton|Press+Start+2P");

* {
  box-sizing: border-box;
}

.bg {
  width: 100%;
  height: 100%;

  background-size: 100%;
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
  opacity: 0;
  position: absolute;
  top: 0px;
}

.wrap {
  /*mix-blend-mode: difference;*/
  z-index: -1;
}

.editform {
  margin-top: 7rem;
}

.editform .form {
  box-sizing: border-box;
  margin: -0.75rem -1.75rem 0 -1.75rem;
  padding: 4rem 1.75rem 1rem 1.75rem;
  border-radius: 12px;
  border-image: linear-gradient(#fff 0%, rgba(0, 0, 0, 0.12) 100%) 1 stretch;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: none;
  background: #fefefe;
}

.editform .form img {
  margin: 0;
}

.form {
  /*top: -100px;*/
  /*width: 80%;*/
  min-height: 100% !important;
  height: 100% !important;
  max-width: 800px;
}

.form img {
  left: auto;
}

.form input,
.form textarea,
.form p,
.form button,
.form .prefix {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.form .monospace {
  font-family: "Hack", monospace;
  color: rgba(170, 170, 170, 1);
  margin-top: 2px;
  font-size: 10pt;
  font-weight: 200;
}

.form h2 {
  font-size: 12pt;
  font-weight: 500;
}

.form h2,
.form h3,
.form h4 {
  text-align: left;
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: normal !important;
  color: rgba(0, 0, 0, 0.3);
}

.form hr {
  margin-top: 0.5em;
}

.form textarea,
.form input {
  font-size: 14.4px;
  font-weight: 300;
  font-kerning: normal;
  line-height: 23.4px;
}

.form .prefix {
  font-size: 10pt;
  color: rgba(0, 0, 0, 0.3);
  min-width: 64px;
  max-width: 64px;
  text-transform: lowercase;
}

.form .inputH2 input {
  font-size: 1.5rem !important;
  font-family: "Montserrat" !important;
  font-weight: 300;
}

.form .inputH4 input {
  font-size: 0.875rem !important;
}

.form .borderHover input {
  color: rgba(0, 0, 0, 0.9);
}
.form .borderHover:hover input {
  color: rgba(0, 0, 0, 1);
}

.form .borderHover {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.form .borderHover p,
.form .borderHover .action {
  opacity: 0;
  color: rgba(0, 0, 0, 0.3);
}

.form .borderHover:hover {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2) !important;
  transition: 0.1s all;
}

.form .borderHover:hover p,
.form .borderHover:hover .action {
  opacity: 1;
}

.form .multilineHover {
  padding: 7px 12px 12px !important;
  margin-left: -12px;
  border: 1px solid rgba(0, 0, 0, 0);
}

.form .multilineHover:hover {
  border: 1px dashed rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px;
}

.form .action {
  margin-right: 5px;
  margin-left: -2px;
}

.form .monospace {
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  padding: 3px 0px 3px 6px;
  background: #efefef;
}

.badgeIcon svg {
  font-weight: 600;
  font-size: 16px;
  margin-right: 5px;
  vertical-align: middle;
}

.badgeIcon.selfAttested {
  color: #56ccf2;
}

.badgeIcon.verified {
  color: #219653;
}

.badgeIcon.curated {
  color: #bdbdbd; /*#56ccf2*/
}

.badgeIcon.scam {
  color: #eb5757;
}

.badges {
  margin-top: 2em;
  padding-top: 3em;
  margin-bottom: -2em;
  margin-left: -1em;
}

.badge {
  font-weight: 600;
  font-size: 12px;
  color: white;
  padding: 3px 8px 2px 8px;
  border-radius: 5px;
  margin-right: 10px;
  filter: blur(0.3px);
  box-shadow: -26px 0px 0px 0px rgba(255, 255, 255, 0.3) inset;
}

.badge svg {
  font-weight: 600;
  font-size: 18px;
  vertical-align: top;
  margin-left: 4px;
  padding-left: 4px;
}

.badge.selfAttested {
  background: #56ccf2;
  display: inline-block;
}

.badge.verified {
  background: #119653;
  display: inline-block;
}

.badge.curated {
  background: #bdbdbd;
  display: inline-block;
}

.badge.scam {
  background: #eb5757;
  display: inline-block;
}
